<div class="app-container">
  <mat-toolbar color="primary" class="app-toolbar">
    <mat-icon class="app-icon">assignment</mat-icon>
    <span class="app-title">{{ title }}</span>
    <span class="spacer"></span>
    <button mat-icon-button matTooltip="About">
      <mat-icon>info</mat-icon>
    </button>
  </mat-toolbar>

  <main class="main-content">
<!-- <h1>Now going to load app task list</h1> -->
    <app-task-list></app-task-list>
  </main>

  <footer class="app-footer">
  <p>&copy; 2025 Task Management System. Built by Snehit Roda.</p>
  </footer>
</div>